.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjusts to the full height of the viewport */
  text-align: center;
}

.project-name {
  font-size: 6rem; /* Adjust size as needed */
  margin: 0;
}

.Intro p {
  font-size: 1.2rem; /* Adjust size as needed */
  margin-top: 0.5rem;
}

.light-mode-button {
  background-color: #ffffff; /* Light background */
  color: #333; /* Dark text color */
  border: 2px solid #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode-button {
  background-color: #333; /* Dark background */
  color: #ffffff; /* Light text color */
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode-button:hover {
  background-color: black; /* Slightly lighter background on hover */
  color: #fff; /* Ensure text remains visible */
}


.dark-mode-button:hover{
  background-color: #f9f9f9;
  color: #333;
}